extends layout

block content
  div.container
    div.row
      div.container-fluid
        h3.float-left GitHub Views
        span.float-right Logged in as <b>#{user.username}</b>
        br
        a.float-right(href="/auth/logout") Logout
    hr
    div.row
      div.col-md-2
        nav
          ul
            li(id='myReposButton', onClick='divSwitcher(userRepositories)') My Repositories
            li(id='sharedRepositoriesButton', onClick='divSwitcher(sharedRepositories)') Shared Repositories
            li(id='aggregateChartsButton', onClick='divSwitcher(aggregateCharts)') Aggregate Charts
      div.col-md-10
        div(id='userRepositories')
          each val in data.userRepos
            div.row
              div.container-fluid
                div.row
                  h3.repo-title #{val.reponame}
                  div.actionButtons
                    button(type="button" class="margin-8 add-btn btn btn-outline-dark" data-toggle='modal' data-repoId=val._id data-target='#addModal')
                      i(class='fas fa-plus')
                    button(type="button" class="margin-8 share-btn btn btn-outline-dark" data-toggle='modal' data-repoId=val._id data-target='#shareModal')
                      i(class='fas fa-share-alt')
                  
              canvas(id=val._id)
            br

        div(id='sharedRepositories')
          each val in data.sharedRepos
            div.row
              div.container-fluid
                div.row
                  h3.repo-title #{val.reponame}
                  div.actionButtons
                    button(type="button" class="margin-8 add-btn btn btn-outline-dark" data-toggle='modal' data-repoId=val._id data-target='#addModal')
                      i(class='fas fa-plus')
                  
              canvas(id=val._id)
            br

        div(id='aggregateCharts')
          div(id='customCharts')
          button.btn-block(type="button" class="btn btn-outline-dark" onClick='addCustomChart()')
            i(class="fas fa-chart-bar") &nbsp; Add new aggregate chart

        #shareModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='shareModalLabel' aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                h5#shareModalLabel.modal-title Share this repository with:
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden='true') &times;
              .modal-body
                input#share-with.form-control(type='text' placeholder='username')
              .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                button.btn.btn-primary(type='button', data-dismiss='modal', onClick='shareRepository()') Share

        #addModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addModalLabel' aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                h5#addModalLabel.modal-title Aggregate this to:
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden='true') &times;
              .modal-body
                div.btn-group-vertical(id='modalChartList' style="width: 100%")
              .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Done
