extends layout

block content
  div.container
    div.row
      div.container-fluid
        h3.float-left GitHub Views
        span.float-right Logged in as <b>#{user.username}</b>
        br
        a.float-right(href="/auth/logout") Logout
    hr
    div.row
      div.col-md-3
        nav
          ul
            li(id='myReposButton', onClick='divSwitcher(userRepositories)') My Repositories
            li(id='sharedRepositoriesButton', onClick='divSwitcher(sharedRepositories)') Shared Repositories
            li(id='aggregateChartsButton', onClick='divSwitcher(aggregateCharts)') Aggregate Charts
      div.col-md-9
        div(id='userRepositories')
          each val in data.userRepos
            div.row
              div.container-fluid
                div.row
                  i(class='share fas fa-share-alt fa-2x', data-toggle='modal' data-repoId=val._id data-target='#exampleModal')
                  h3.repo-title #{val.reponame}
              canvas(id=val._id)
            br
            
        div(id='sharedRepositories')
          each val in data.sharedRepos
            div.row
              div.container-fluid
                div.row
                  h3.repo-title #{val.reponame}
              canvas(id=val._id)
            br

        div(id='aggregateCharts')
          ul
            li aggregateCharts

        #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                h5#exampleModalLabel.modal-title Share this repository with:
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden='true') &times;
              .modal-body
                input#share-with.form-control(type='text', placeholder='username' name='name')
              .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                button.btn.btn-primary(type='button', data-dismiss='modal', onClick='shareRepository()') Share